@model Signature

<h2>Registration - Second Page</h2>
<style>

     button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

    .container {
        text-align: center;
        max-width: 1200px;
        padding: 20px;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #fff;
    }

        input {
        width: calc(20% - 5px);
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
    }
    .margin
    {
        margin : 20px;
        padding : 10px;
    }

    .img{
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

</style>


<div class="container">
    <div class="margin">
        <h4>Please sign Document from Link Below : </h4>
        <a href="@Model.SignatureData"><button>Sign Here</button></a>
    </div>

    <div class="margin img" id="sign">
        <img id="showImage" src="#" alt="Need to Sign first for View Signature" width="320px" height="100px" />
    </div>

    <div class="margin">
        <button type="submit" id="checkButton">Check</button>
    </div>


    @using (Html.BeginForm("Check", "Home", FormMethod.Post))
    {
        <input type="submit" id="completeRegistrationButton" value="Download File" disabled/>
    }
</div>

<script>
    // Function to handle button enable/disable and alert message
    function handleRegistration(status) {
        var completeRegistrationButton = document.getElementById('completeRegistrationButton');
        if (status) {
            viewImageUrl();
            completeRegistrationButton.disabled = false;
        } 
        else 
        {
            completeRegistrationButton.disabled = true;
            alert("Please sign document first.");
        }
    }

    async function viewImageUrl() {
        const response = await fetch('/Home/ShowImage');
        console.log("response : ",response)
        const data = await response.text();
        console.log("data : ", data)
        
        var temp = document.getElementById('showImage');
        var temp2 = document.getElementById('sign');
        temp2.style.border = "1px solid black"; // Set border to 1px solid black
        temp2.style.textAlign = "center";
        temp2.style.marginLeft = "300px";
        temp2.style.marginRight = "300px";
        temp.src = data;
    }

    // Add click event listener to the check button
    document.getElementById('checkButton').addEventListener('click', function (event) {
        // Prevent the default form submission behavior
        event.preventDefault();

        // Make an AJAX request to the Check method in the controller
        fetch('/Home/InitialCheck')
            .then(response => response.json())
            .then(data => {
                // Extract status from the response data
                var status = data;

                // Handle the registration based on the status
                handleRegistration(status);
            })
            .catch(error => console.error('Error:', error));
    });

    // Add click event listener to the check button
    // document.getElementById('completeRegistrationButton').addEventListener('click', function (event) {
    //     // Prevent the default form submission behavior
    //     event.preventDefault();

    //     // Make an AJAX request to the Check method in the controller
    //     fetch('/Home/Check')
    //         .then(response => response.json())
    //         .then(data => {
    //             // Extract status from the response data
    //             var status = data;
    //             window.location.href = '@Url.Action("DownloadPdf", "File")';
    //             // Handle the registration based on the status
    //             // handleRegistration(status);
    //         })
    //         .catch(error => console.error('Error:', error));
    // });


</script>
